@import url('https://fonts.googleapis.com/css?family=Pirata+One&display=swap');

body{
    overflow: auto;
    font-family: 'Pirata One', sans-serif;
    color: white
   
}

.uppercase {
    text-transform: uppercase;
}

.h-divider{
 margin-top: 25px;
 margin-bottom: 25px;
 height:1px;
 width:100%;
 border-top:3px solid #b4a686;
 
}
/*---Navbar--*/
.navbar {
    text-transform: uppercase;
    font-size: 17px;
    letter-spacing: 2px;
    background: rgba(0, 0, 0, 0.2)!important;
    padding: 0 ;
}
.navbar-brand img {
    height: 4rem;
    width: 12rem;
    
}
.navbar-nav li{
    padding-right: 5px;
    
} 

.navbar-dark .navbar-nav .nav-link {
    color:white;
}


.navbar-dark .navbar-nav .nav-link:hover {
    color: #b4a686;
}

/*---Home-page---*/

html,
body,
#home {
    height: 100%;
}

#home {
    background: url("../images/home.jpg") no-repeat  center center fixed;
    height: 100%;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    overflow-x: auto;
}

.caption {
  position: relative;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  padding: 10px;
  border: 5px solid #b4a686;
  margin: 0;
  background: rgba(0, 0, 0, 0.6)!important;
}

.btn-outline-light:hover,
.btn-outline-light:active,
.btn-outline-light:focus,
.btn-outline-light:active:focus {
    background-color: #b4a686;
    border-color: white;
    color: white;
}

/*---Bio-page---*/

html,
body,
#bio {
    height: 100%;
}

#bio {
    background: url("../images/bio.jpg") no-repeat  center center fixed;
    height: 100%;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    overflow-x: auto;
}

.container {
  padding: 80px 120px;
  margin-top: 100px;
  margin-bottom: 100px;
  background: rgba(0, 0, 0, 0.6)!important;
  border: 5px solid #b4a686;
}

.h-divider-heading{
 margin-top: 5px;
 margin-bottom: 5px;
 height:1px;
 width:100%;
 border-top:3px solid #b4a686;
 
}

.h-divider-bio{
 margin-top: 100px;
 margin-bottom: 5px;
 height:1px;
 width:100%;
 border-top:3px solid #b4a686;
 
}



.person {
  border: 10px solid transparent;
  margin-bottom: 25px;;
  width: 80%;
  height: 80%;
  border-color: #b4a686;
}
.person:hover {
  border-color: white;
}

/*---Store-Page--*/
html,
body,
#store {
    height: 100%;
}

#store {
    background: url("../images/store.jpg") no-repeat  center center fixed;
    height: 100%;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    overflow-x: auto;
}


a .merchimg {
    vertical-align: middle;
    border-style: none;
    height: 33%;
    width: 90%;
    padding-bottom: 20px;
    padding-right: 33px;
    padding-left: 33px;
}

.caption-store {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  padding: 10px;
  border: 5px solid #b4a686;
  margin: 0;
  background: black!important;
}

a #usimg {
    vertical-align: middle;
    border-style: none;
    height: 33%;
    width: 90%;
    padding-right: 33px;
    padding-left: 33px;
    padding-bottom: 0px;
}
/*---Tour Page--*/

html,
body,
#tour {
    height: 100%;
}

#tour {
    background: url("../images/tour.jpg") no-repeat  center center fixed;
    height: 100%;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    overflow-x: auto;
}

.container-tour {
  padding: 50px 120px;
  margin-top: 100px;
  background: rgba(0, 0, 0, 0.6)!important;
  border: 5px solid #b4a686;
}

.btn-light {
    background-color: #b4a686;
    border-color: white;
    color: white;
}

/*---Bookus-Page--*/
html,
body,
#bookus {
    height: 100%;
}

#bookus {
    background: url("../images/bookus.jpg") no-repeat  center center fixed;
    height: 100%;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    overflow-x: auto;
}

.contact-sec {
    position: relative;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background: rgba(0, 0, 0, 0.6)!important;
    border: 5px solid #b4a686;
}

.form-row{
    padding-right: 5px;
    padding-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-frm {
    background-color: #b4a686;
    border-color: #b4a686;
    color: white;

}

.btn-frm:hover,
.btn-frm:active,
.btn-frm:focus,
.btn-frm:active:focus {
    color: #b4a686;
    border-color: white;
    background-color: white;
}
/*---Footer---*/

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  text-align: center;
}

.social-links {
    margin-top: 1rem;
    float: right;
    padding-right: 10px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #b4a686;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #fafafa;
    color: #b4a686;
}



#ftr-text {
    text-transform: uppercase;
    margin-top: 1rem;
    float: left;
    padding-left: 50px;
}